In [60]:
import pandas as pd

In [61]:
compra_productos = pd.read_csv("CompraProduct-Par.csv")
compra_productos.head()

   id_compra    fecha  id_tienda  id_usuario
0          0   1/2/13        136          90
1          1   1/5/13        123          33
2          2   1/7/13        139          11
3          3  1/10/13        123          87
4          4  1/11/13        123          23

In [62]:
compra_servicios = pd.read_csv("CompraServicio.csv")
compra_servicios.head()

   id_compraservicio  id_tienda_s  id_usuario fecha_de_compra fecha_expiracion
0                  0          143           1       2/05/2014       26/07/2015
1                  1          145           0      15/02/2014       12/07/2015
2                  2          141           8       9/12/2014       19/12/2015
3                  3          145           7      29/05/2014       25/10/2015
4                  4          159          14      22/10/2014       10/04/2015

In [63]:
detalle_compra_producto = pd.read_csv("ProductoCompraProducto.csv")
detalle_compra_producto.head()

   id_compra    id_producto  cantidad
0          0  7804907236110        50
1          1  7802234957111        69
2          2  7806069081669        28
3          3  7805367674474        17
4          4  7806533722043        23

In [64]:
detalle_compra_servicio = pd.read_csv("servicioscompra.csv")

In [54]:
detalle_compra_servicio_nuevo = pd.DataFrame(detalle_compra_servicio, columns=["id_compraservicio", "id_servicio"])
detalle_compra_servicio_nuevo = pd.concat([detalle_compra_servicio_nuevo, compra_servicios], axis=1, join='inner').drop(["id_tienda_s", "id_usuario", "fecha_de_compra"], axis=1)
detalle_compra_servicio = detalle_compra_servicio_nuevo.T.drop_duplicates().T
detalle_compra_servicio.head()

  id_compraservicio id_servicio fecha_expiracion
0                 0           0       26/07/2015
1                 1           0       12/07/2015
2                 2           6       19/12/2015
3                 3           0       25/10/2015
4                 4           8       10/04/2015

In [55]:
compra_servicios = compra_servicios.drop("fecha_expiracion", axis=1)
compra_servicios["id_compraservicio"] += len(compra_productos)
compra_servicios.head()

   id_compraservicio  id_tienda_s  id_usuario fecha_de_compra
0                 98          143           1       2/05/2014
1                 99          145           0      15/02/2014
2                100          141           8       9/12/2014
3                101          145           7      29/05/2014
4                102          159          14      22/10/2014

In [56]:
detalle_compra_servicio["id_compraservicio"] += len(compra_productos)
detalle_compra_servicio.head()

  id_compraservicio id_servicio fecha_expiracion
0                98           0       26/07/2015
1                99           0       12/07/2015
2               100           6       19/12/2015
3               101           0       25/10/2015
4               102           8       10/04/2015

In [57]:
new_columns = detalle_compra_servicio.columns.values
new_columns[0] = 'id_compra'
detalle_compra_servicio.columns = new_columns 
new_columns = compra_servicios.columns.values
new_columns[0] = 'id_compra'
compra_servicios.columns = new_columns

In [58]:
detalle_compra_servicio.head()

  id_compra id_servicio fecha_expiracion
0        98           0       26/07/2015
1        99           0       12/07/2015
2       100           6       19/12/2015
3       101           0       25/10/2015
4       102           8       10/04/2015

In [65]:
servicios = pd.DataFrame(detalle_compra_servicio, columns=["id_servicio", "nombre", "precio", "descripcion"])
servicios = servicios.drop_duplicates()
servicios = servicios.sort(["id_servicio"], ascending=True)
servicios.head()

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

,id_servicio,nombre,precio,descripcion
0,0,Una cena para dos personas,"$68.350,00","Lorem ipsum dolor sit amet, consectetur adipis..."
11,2,Una porción de helado,"$38.452,00",Ut enim ad minim veniam
5,3,Tres papas crujientes,"$48.667,00",quis nostrud exercitation ullamco laboris nisi...
28,5,Una sesión de masaje descontracturante,"$34.831,00",Excepteur sint occaecat cupidatat non proident
2,6,Tres entradas con bus al paseo de la playa,"$28.812,00",sunt in culpa qui officia deserunt mollit anim...

In [66]:
productos = pd.read_csv("Productos.csv")
productos.head()

,id_producto,nombre,descripcion,precio
0,7801130794486,LÁMPARA DE CIELO 3 LUCES PYTON EGLO,"Lámpara de Techo 3 luces Pyton Eglo\n\nEglo, r...","$162.000,00"
1,7801305809069,BASEMENT HOME LÁMPARA ARTICULADA SOBREMESA,Lámpara Sobremesa\nModelo: Lámpara Articulada ...,"$91.000,00"
2,7801357246126,LÁMPARA DE CIELO PINTO NERO EGLO,"Lámpara de Cielo Pinto Nero Eglo\n\nEglo, reco...","$64.000,00"
3,7801470268777,LÁMPARA DE CIELO LORD EGLO,"Lámpara de Cielo Lord Eglo\n\nEglo, reconocida...","$23.229,00"
4,7801566649404,BASEMENT HOME LÁMPARA DE PIE TRIPODE NEGRO,Lámpara de Pie\nModelo: Tripode\nMarca: Baseme...,"$78.347,00"

In [84]:
tienda_servicios = pd.read_csv("Tienda de servicios.csv")
new_columns = tienda_servicios.columns.values
new_columns[0] = 'id_tienda'
tienda_servicios.columns = new_columns 
tienda_servicios.head()

,id_tienda,nombre,ubicacion,telefono,apertura,cierre,rubro,correo
0,140,Hoyts Cinema,185 W. Waterfront Drive\nHomestead\nPittsburgh...,93422751,11:30,23:00,Entretención,sisyphus@me.com
1,141,Tom Bradley Airport,"4840 E Indian School Rd\nSte 101\nPhoenix, AZ ...",90573044,0:00,23:59,Transporte,burns@msn.com
2,142,Metro,"202 McClure St\nDravosburg, PA 15034",87152577,0:00,23:59,Transporte,brainless@live.com
3,143,Shop 'n Save,"1886 Homeville Rd\nWest Mifflin, PA 15122",98077273,8:00,20:00,Comida,parents@yahoo.ca
4,144,McDonald's,"Kennywood & Hoffman\nWest Mifflin, PA 15122",91016259,8:00,20:00,Comida,webteam@live.com

In [74]:
tienda_productos = pd.read_csv("tiendaProductoTienda.csv")

,id_tienda,nombre,ubicacion,telefono,rubro,correo,id_tienda.1,id_producto
0,127,Homecenter,"8 Logan St\nCarnegie\nCarnegie, PA 15106",93430390,Construcción,mhassel@mac.com,127,7801130794486
1,127,Homecenter,"8 Logan St\nCarnegie\nCarnegie, PA 15106",93430390,Construcción,mhassel@mac.com,127,7801305809069
2,134,Apple,"215 E Main St\nCarnegie\nCarnegie, PA 15106",96273192,Tecnología,scotfl@gmail.com,134,7801357246126
3,133,Walmart,"520 North Bell Avenue\nCarnegie\nCarnegie, PA ...",95380301,Supermercado,bjornk@hotmail.com,133,7801470268777
4,135,Jumbo,"231 E Main St\nCarnegie\nCarnegie, PA 15106",82826916,Supermercado,sekiya@yahoo.ca,135,7801566649404

In [75]:
vende_tienda_producto = pd.DataFrame(tienda_productos, columns = ["id_tienda.1", "id_producto"])
tienda_productos = tienda_productos.drop(["id_tienda.1", "id_producto"], axis=1)
tienda_productos = tienda_productos.drop_duplicates()
new_columns = vende_tienda_producto.columns.values
new_columns[0] = 'id_tienda'
vende_tienda_producto.columns = new_columns 
vende_tienda_producto.head()

   id_tienda    id_producto
0        127  7801130794486
1        127  7801305809069
2        134  7801357246126
3        133  7801470268777
4        135  7801566649404

In [70]:
tienda_productos

,id_tienda,nombre,ubicacion,telefono,rubro,correo
0,127,Homecenter,"8 Logan St\nCarnegie\nCarnegie, PA 15106",93430390,Construcción,mhassel@mac.com
2,134,Apple,"215 E Main St\nCarnegie\nCarnegie, PA 15106",96273192,Tecnología,scotfl@gmail.com
3,133,Walmart,"520 North Bell Avenue\nCarnegie\nCarnegie, PA ...",95380301,Supermercado,bjornk@hotmail.com
4,135,Jumbo,"231 E Main St\nCarnegie\nCarnegie, PA 15106",82826916,Supermercado,sekiya@yahoo.ca
5,138,Assoto,"2323 Greentree Rd\nCarnegie, PA 15106",88600221,Health & Medical,alfred@hotmail.com
6,122,American Thrift Center,"1806 Homeville Rd\nWest Mifflin, PA 15122",98427721,Shopping,pajas@comcast.net
7,130,Porto Fino,"1201 Washington Ave\nCarnegie, PA 15106",85252808,Construcción,esbeck@msn.com
8,119,Old Navy,"560 E Waterfront Dr\nHomestead\nHomestead, PA ...",91206203,Shopping,jonadab@sbcglobal.net
9,137,North Face,"Raceway Plz\nCarnegie, PA 15106",85769830,Deportes,chaki@msn.com
11,123,Cindy Esser's Floral Shop,"1122 E Carson St\nSouth Side\nPittsburgh, PA 1...",96108901,Flores y regalos,denism@icloud.com
14,132,Nike,"202 3rd Ave\nCarnegie\nCarnegie, PA 15106",81941645,Shopping,iapetus@sbcglobal.net
16,126,Falabella,"920 Forsythe Rd\nCarnegie\nCarnegie, PA 15106",91889265,Shopping,tjensen@yahoo.com
24,124,Red White & Blue Thrift Store,"935 Ohio River Blvd\nAvalon\nPittsburgh, PA 15202",82174114,Shopping,symbolic@yahoo.ca
26,120,Dick's Sporting Goods,The Waterfront\n350 East Waterfront Drive\nHom...,85585647,Deportes,ryanvm@aol.com
27,136,Loft,"117 E Mall Plz\nCarnegie\nCarnegie, PA 15106",85321577,Deportes extremos,catalog@gmail.com
32,128,Casa Ideas,"2100 Washington Pike\nCarnegie, PA 15106",81879688,Interiores,giafly@sbcglobal.net
34,125,Paul's Clock Repair,"1234 Straka St\nCrafton Heights\nPittsburgh, P...",98233816,Shopping,dkrishna@msn.com
35,139,Rapa Nui,"214 E Main St\nCarnegie\nCarnegie, PA 15106",84388818,Deportes extremos,mddallara@yahoo.com
42,131,Paddy's House,"1073 Washington Ave\nCarnegie, PA 15106",83941337,Construcción,frostman@yahoo.com
49,121,Big Bang Bicycles,"347 Lebanon Rd\nWest Mifflin, PA 15122",88393366,Deportes,mjewell@optonline.net
53,129,Adidas,"2100 Washington Pike\nCarnegie, PA 15106",84935045,Shopping,martyloo@hotmail.com

In [76]:
servicios_tienda = pd.read_csv("TiendaServicioProducto.csv")
new_columns = servicios_tienda.columns.values
new_columns[0] = 'id_tienda'
servicios_tienda.columns = new_columns 
servicios_tienda.head()

   id_tienda  id_servicio
0        143            0
1        144            0
2        145            0
3        146            0
4        158            0

In [72]:
usuarios = pd.read_csv("Usuarios.csv")
usuarios.head()

   id_usuario  apellido             nombre            correo sexo  edad
0           0  ABUSLEME     RAFAEL ANTONIO  raabusleme@uc.cl    M    20
1           1  AGUILLÓN   JUAN JOSÉ ARTURO  jjaguillon@uc.cl    M    19
2           2  ALLIENDE     MARÍA JOSEFINA  moalliende@uc.cl    F    18
3           3   ÁLVAREZ  VALENTINA JAVIERA   vjalvarez@uc.cl    F    23
4           4   ÁLVAREZ              TOMÁS   talvarez2@uc.cl    M    10

In [93]:
usuarios.to_csv("usuarios.csv")

In [81]:
servicios_tienda.to_csv("vende_tienda_servicios.csv")

In [79]:
tienda_productos.to_csv("tienda_productos.csv")

In [95]:
vende_tienda_producto.to_csv("vende_tienda_productos.csv")

In [85]:
tienda_servicios.to_csv("tienda_servicios.csv")

In [94]:
productos.to_csv("productos.csv")

In [87]:
servicios.to_csv("servicios.csv")

In [88]:
compra_servicios.to_csv("compras_servicios.csv")

In [89]:
compra_productos.to_csv("compras_productos.csv")

In [91]:
detalle_compra_producto.to_csv("detalle_compra_productos.csv")

In [92]:
detale_compra_servicio.to_csv("detalle_compra_servicios.csv")